<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="jumbotron font-weight-bold text-center"> Eat </div>
    <div class="container">
        <div class="row">{{{body}}}</div>
        <div class="row">
            <form method="POST">
                <div class="form-group">
                    <label for="Burger">What kind?</label>
                    <input type="text" class="form-control" id="burger-type">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</body>

<script>
    $(document).submit((event)=>{
        event.preventDefault(); 
        console.log($("#burger-type").val());
        var burger_json = {
            burger: $("#burger-type").val()
        }
        console.log(burger_json);
        $.post("/", burger_json);

    })

</script>

</html>