<div class="jumbotron font-weight-bold text-center"> EAT </div>

<div class="container">
    <div class="row">
        <div class="col" id="ready">
            {{#each order}}
            {{#unless this.devoured}}
            <div class="row">
                <span class="text-center">{{this.name}}</span>
                <button type="button" class="btn btn-primary btn-sm burger" id="{{this.id}}">DEVOUR</button>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col" id="eaten">
            {{#each order}}
            {{#if this.devoured}}
            <div class="row">
                <span class="text-center">{{this.name}}</span>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <form method="POST">
            <div class="form-group">
                <label for="Burger">The Burger Gods Demand feasting</label>
                <input type="text" class="form-control" id="burger-type">
            </div>
            <button type="submit" id="prepare" class="btn btn-primary">PREPARE</button>
        </form>
    </div>
</div>

<script>

    $("#prepare").click((event) => {
        event.preventDefault();
        console.log($("#burger-type").val());
        $("#ready").append('<div class = "row"><span class="text-center">'
            + $("#burger-type").val() + '</span>'
            + '<button type="button" class="btn btn-primary btn-sm burger">DEVOUR</button></div>');
        var burger_json = {
            action: "add",
            data: $("#burger-type").val()
        };
        $.post("/", burger_json);
        $("#burger-type").val("");
        location.reload();  
    });

    $(document).on('click', ".burger", (event) => {
        console.log(event.target.id);
        var burger_json = {
            action: "eat",
            data: event.target.id
        };
        $.post("/", burger_json);
        event.target.parentElement.remove();
        location.reload();
    });

</script>